*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;

}
.ul li{
    padding: 10px;
    margin: 10px;
    
}
.ul li:hover{
    cursor: pointer;
}
.tab-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;

}
[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}